
.header-test__subwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.header-test__wrap-logo {
    padding: 0 10px 0 0;
}
.header-test__logo {
}
.header-test__subscribtion {
    font-size: 12;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#FFC700;
}
#burgerTest {

}
.main-test {
    background: #0D0C11;
}
.line {
    margin: 18px 30px;
}
.line__main-line {
    height: 11px;
    background-color: #F2F3F3;
    border-radius: 9px 9px 9px 9px;
}
.line__progress-line {
    height: inherit;
    width: 0;
    background-color: #3BDE7C;
    border-radius: 9px 9px 9px 9px;
    transition-duration: 0.3s;

}
.work-zone {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 2px;
    color:#FFFFFF;
}
.work-zone__question {
}
.work-zone__options {
}
.work-zone__optIon {
    background: #4C4C50;
}
.work-zone__optIon:not(:last-child) {
    margin: 0 0 8px 0;
}
.work-zone__input {
}
.work-zone__subscribtion {
}
.footer-test {
    background: #0D0C11;

}
.footer-test__wrap-btn {
}
.footer-test__btn {
}
