@font-face {
    font-family: "PTSerif";
    src: url('/fonts/PTSerif-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto-Light.ttf') format('ttf');
}

@font-face {
    font-family: "MerriweatherBold";
    src: url('/fonts/Merriweather-Bold.ttf') format('ttf');
}