
body {
  color:#FFFFFF;
}

._container {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 15px;
  }
  .wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    background-color:#FFFFFF ;
  }
  .main {
    position: relative;
  }
  /* ---------------------------------- modificators -----------------------------------*/
  .mod-yellow-text {
    color:#FFC700;
  }
  .mod-btn-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 189px;
    height: 41px;
    border-radius: 20px;
    padding: 2px 0 0px 0;
  }
  .mod-yellow-btn {
    font-family: 'MerriweatherBold';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 10%;
    color:#0D0C11;
    background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
  }

 .mod-transparent-btn {
  border: 1px solid #FFFFFF;
  color:#FFFFFF;
  font-weight: 600;
 }

 .mod-upper-case {
  text-transform: uppercase;
 }