.header {
    position: absolute;
    top: 0;
    min-height: 90px;
    width: 100%;
    padding: 0 40px 0 40px;
    background-color: #181818;

}
.header__container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.header__subwrap-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    padding: 0 55px 0 15px;
}
.header__title {
    color: #FFC700;
    font-size: 30px;
    white-space: nowrap;
}
.header__wrap-image {
}

.header__logo {
    width: 75%;
}
.header__navigation {
    width: 100%;
}
.header__navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__navigation-item {
}
.header__item {
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.6s;
}
.header__navigation-item:nth-child(2) .header__item:hover {
    color: #a1a09b;
    transition-duration: 0.3s;
}
.header__navigation-item:nth-child(3) .header__item:hover {
    color: #a1a09b;
    transition-duration: 0.3s;
}


._item-choice {
    color: #F4CE0C;

}