.header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0 40px;
    background-color: #181818;
    z-index: 2;
    font-family: Roboto;
}

@media(max-width: 576px) {
    .header {
        height: 46px;
        padding: 0 17px;
    }
}

.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header__subwrap-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    padding: 0 55px 0 0;
    transition-duration: 0.2s;

}

@media(max-width:1074px) {
    .header__subwrap-right {
        padding: 0;
    }
}

@media(max-width: 576px) {
    .header__subwrap-right {
        display: none;
    }
}

.header__title {
    color: #FFC700;
    font-size: 30px;
    white-space: nowrap;
}

.header__wrap-image {
    display: inline-block;
    padding: 0 15px 0 0;
}

.header__logo {
    width: 86px;
    height: 86px;
}

.header__navigation {
    width: 100%;
}

@media(max-width:1074px) {
    .header__navigation {
        display: none;
    }
}

.header__navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__navigation-item {}

.header__item {
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.6s;
}

.header__navigation-item:nth-child(2) .header__item:hover {
    color: #a1a09b;
    transition-duration: 0.3s;
}

.header__navigation-item:nth-child(3) .header__item:hover {
    color: #a1a09b;
    transition-duration: 0.3s;
}
@media (hover: none) {
    .header__navigation-item:nth-child(2) .header__item {
        color: #FFFFFF;
    }
    .header__navigation-item:nth-child(3) .header__item {
        color: #FFFFFF;
    }
}
._item-choice {
    color: #F4CE0C;

}

/*  ---------------------------- burger ---------------------------- */

.header__wrap-burger {
    display: none;
    /* justify-content: center;
    align-items: center; */
    height: inherit;
    padding: 35px 0 0 0;
}

@media(max-width:1074px) {
    .header__wrap-burger {
        display: block;
    }
}

@media(max-width: 576px) {
    .header__wrap-burger {
        padding: 17px 0 0 0;
    }
}

.header__burger {}

.burger {}

.burger__line {
    position: relative;
    width: 24px;
    height: 2.67px;
    background: #797979;
    transition-duration: 0.3s;
}

.burger__line:nth-child(2) {
    margin: 4px 0 4px 0;
    transition-duration: 0.3s;
}

.burger__line:nth-child(3) {

}


.burger__navigation {
    position: absolute;
    top: -500%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.burger__navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.burger__navigation-item {
}
.burger__navigation-item:not(:last-child) {
    padding: 0 0 37px 0;
}
@media(max-width:400px) {
    .burger__navigation-item {
        padding: 0 0 27px 0;
    }
}
.burger__item {
    font-size: 26px;
    line-height: 22px;
    color: #a1a09b;
    text-transform: uppercase;
}
@media(max-width:400px) {
    .burger__item {
        font-size: 16px;
    }
}

._item-choice {
}